[Desktop Entry]
Type=Service
X-Kopete-Version=1000900
Icon=fetion_protocol
X-KDE-ServiceTypes=Kopete/Protocol
X-KDE-Library=kopete_fetion
X-Kopete-Messaging-Protocol=messaging/fetion
X-KDE-PluginInfo-Author=Ni Hui
X-KDE-PluginInfo-Email=shuizhuyuanluo@126.com
X-KDE-PluginInfo-Name=kopete_fetion
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://shuizhuyuanluo.blog.163.com
X-KDE-PluginInfo-Category=Protocols
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Fetion
Comment=CMCC Fetion protocol
